
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #019299;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

.medium-paragraph {
	font-size: 18px;
	line-height: 32px;
}

.blue { color: #019299; }

::-moz-selection { background: #019299; color: #fff; text-shadow: none; }
::selection { background: #019299; color: #fff; text-shadow: none; }


/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../img/loading.gif) center center no-repeat;
}


/***** General style, all sections *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	background: #fff;
	opacity: 0.8;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

.btn-link-1 {
	position: relative;
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #019299;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.1);
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	height: 1px;
	background: #ddd;
}


/***** Modal *****/

.modal-content {
	-moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
	text-align: left;
}

.modal-body {
	padding: 0 25px 15px 25px;
}

.modal-body img {
	margin-bottom: 15px;
}

.modal-header {
	padding: 25px 25px 15px 25px;
}

.modal-footer {
	padding: 15px 25px 25px 25px;
}

.modal-header, .modal-footer { border: 0; }

.modal-header .close {
	font-size: 36px;
	color: #888;
	font-weight: 300;
	text-shadow: none;
	opacity: 1;
}

.modal-footer button {
	height: 50px;
	margin: 0;
    padding: 0 20px;
	background: none;
	border: 1px solid #888;
	font-size: 16px;
    font-weight: 300;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.modal-footer button:hover { outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; }

.modal-footer button:focus, .modal-footer button:active:focus, .modal-footer button.active:focus { 
	outline: 0; opacity: 0.6; background: none; border: 1px solid #888; color: #888; 
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.modal-footer button:before {
	background: none;
}


/***** Top menu *****/

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #2b377b;
    /*background: rgba(51, 51, 51, 0.3);*/
    border: 0;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.navbar.navbar-no-bg { background: none; }

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}



.navbar-inverse ul.navbar-nav li a {
    color: #fff;
    
    border-bottom: 1px solid transparent;
}
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px solid #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px solid #fff; }

.navbar-inverse ul.navbar-nav li a.btn-link-2 {
	height: auto;
	margin: 4px 0 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #fff;
}
.navbar-inverse ul.navbar-nav li a.btn-link-2:hover, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:focus, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:active, 
.navbar-inverse ul.navbar-nav li a.btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }

.navbar-brand {
	width: 97px;
	background: url(../img/logo.png) left center no-repeat;
	text-indent: -99999px;
}


/***** Top content *****/


/*Count down*/
#countdown-container .launch-text {
    width: 200px;
    margin: 5px 0 0 5px;
    display: inline-block;
    line-height: 22px;
    padding: 20px;
    font-family: 'SourceSansPro-Semibold', Georgia, times, serif;
    font-size: 24px;
    color: #ffffff;
    text-align: left;
    float: left;
}

#timer {
    display: inline-block;
    position: relative;
    margin: 100px 20px 100px 50px;
 
}

ul#countdown li {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 10px;
    padding-top: 20px;
    background: #00ff90;
    border: 1px solid #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

   

   ul#countdown li span {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-size: 5.1em;
        color: white;

        text-shadow: 1px 1px 1px white;
        text-align: center;
        padding-right: 1px;
    }

        ul#countdown li span::before {
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            text-align: center;
            left: 1px;
        }

    ul#countdown li p.timeRefDays,
    ul#countdown li p.timeRefHours,
    ul#countdown li p.timeRefMinutes,
    ul#countdown li p.timeRefSeconds {
        font-size: 20px;
        font-weight: 100;
        color:white;
        text-align:center;
    
    }

  ul#countdown li p.timeRefDays {
        padding-left: 1px;
    }

    ul#countdown li p.timeRefHours {
        padding-left: 3px;
        padding-left: 20px\9;
    }

    ul#countdown li p.timeRefMinutes {
        padding-left: 1px;
        padding-left: 15px\9;
    }

    ul#countdown li p.timeRefSeconds {
        padding-left: 0px;
        padding-left: 13px\9;
    }



.inner-bg {
    padding: 120px 0 200px 0;
}

.fadeInLeftBig antimated .text  {
    padding: 120px 0 200px 0;
    color: #fff;
}

.wow fadeInLeftBig animated{color:#fff;}

.top-content .text {
    color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
    color:white;
}

.top-content .description p { opacity: 0.8; }




.subscribe {
	position: relative;
	margin-top: 65px;
}

.subscribe input.subscribe-email {
	width: 320px;
}

.subscribe .success-message {
	display: none;
	opacity: 0.8;
}

.subscribe .error-message {
	display: none;
	position: absolute;
	left: 0;
	bottom: -60px;
	width: 100%;
	opacity: 0.8;
}


/***** Features *****/

.features {
	padding-bottom: 30px;
}

.features-box {
	padding-top: 15px;
	padding-bottom: 15px;
}

.features-box-gray {
	background: #f8f8f8;
}

.features-box .features-box-icon {
    font-size: 80px;
    color: #00ff90;
    line-height: 80px;
}

.features-box h3 {
	margin-top: 15px;
}





/***** About us *****/

.about-us-container {
	padding-bottom: 65px;
}

.about-us-box {
	padding-top: 30px;
	padding-bottom: 15px;
}

.about-us-box .about-us-photo {
	position: relative;
	width: 160px;
	margin: 0 auto;
}

.about-us-box .about-us-photo img {
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

.about-us-box .about-us-photo .about-us-role {
	position: absolute;
	bottom: 10px;
	left: 0;
	padding: 3px 5px;
	background: #019299;
	font-size: 14px;
	color: #fff;
	line-height: 15px;
	text-transform: uppercase;
}

.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 36px;
    line-height: 36px;
}

.about-us-box .about-us-social a { color: #ddd; }
.about-us-box .about-us-social a:hover, .about-us-box .about-us-social a:focus { color: #019299; }


/***** Testimonials *****/

.testimonials-container {
	padding-bottom: 70px;
	border-top: 0;
}

.testimonial-list {
    margin-top: 30px;
    text-align: left;
}

.testimonial-list .tab-pane { overflow: hidden; }

.testimonial-list .testimonial-image {
	position: relative;
	float: left;
	width: 17%;
	margin: 10px 0 0 0;
}
.testimonial-list .testimonial-image img {
	max-width: 120px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.testimonial-list .testimonial-image .testimonial-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 42px;
	height: 42px;
	padding-top: 3px;
	background: #019299;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
	font-size: 32px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.testimonial-list .testimonial-image:hover .testimonial-icon { opacity: 0; }

.testimonial-list .testimonial-text {
	float: left;
	width: 83%;
}

.testimonial-list .nav-tabs {
    border: 0;
    text-align: right;
}

.testimonial-list .nav-tabs li {
	float: none;
	display: inline-block;
	margin-left: 5px;
    margin-right: 5px;
}

.testimonial-list .nav-tabs li a {
    width: 14px;
    height: 14px;
    padding: 0;
    background: #ddd;
    border: 0;
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
}

.testimonial-list .nav-tabs li a:hover { border: 0; background: #019299; }
.testimonial-list .nav-tabs li.active a { background: #019299; }
.testimonial-list .nav-tabs li.active a:focus { border: 0; }


/***** Footer *****/

footer {
	padding: 40px 0 35px 0;
}

.footer-social {
	font-size: 50px;
    line-height: 50px;
}

.footer-social a { color: #ddd; }
.footer-social a:hover, .footer-social a:focus { color: #019299; }

.footer-copyright {
	margin-top: 25px;
}
