@model DetroitAuction.Models.RegisterViewModel
@{
    Layout = Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<!-- Loader -->
<div class="loader">
    <div class="loader-img"></div>
</div>

<!-- Top content -->
<div class="top-content">


    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="wow fadeInLeftBig" style=" color: white; font-size: 40px;">Wayne County Property Auction Coming <strong>Soon</strong></h1>

                    <span  class=" wow fadeInRightBig" style="color: white; font-size: 60px"> @ViewBag.Count</span>
                    <p style="color: white;">Properties for sale</p>
                    <div class="description wow fadeInLeftBig">
                        <p>
                            Easiest way to search parcels for sale we include photo and panoramic street view, Estimated Current Value, Estimated High and Low Value, Estimated Rental Price and Maps
                        </p>
                    </div>
                    <div id="timer">
                        <ul class="row" id="countdown">
                            <li>
                                <span class="days">00</span>
                                <p class="timeRefDays">days</p>
                            </li>
                            <li>
                                <span class="hours">00</span>
                                <p class="timeRefHours">hours</p>
                            </li>
                            <li>
                                <span class="minutes">00</span>
                                <p class="timeRefMinutes">minutes</p>
                            </li>
                            <li>
                                <span class="seconds">00</span>
                                <p class="timeRefSeconds">seconds</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="subscribe wow fadeInUp">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                   
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your email..." })
                            <button class="btn btn-primary" type="submit" value="Browse Properties for Sale">Browse Properties for Sale</button>
                }

                <div class="success-message"></div>
                <div class="error-message"></div>
            </div>
        </div>
    </div>

</div>

<!--Features  -->
<div class="features-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 features section-description wow fadeIn">
                <h2>About the Wayne County Auction</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 features-box features-box-gray wow fadeInUp">
                <div class="features-box-icon">
                    <span aria-hidden="true" class="typcn typcn-eye-outline"></span>
                </div>
                <h3>Info</h3>
                <p>Properties listed in this auction were foreclosed by the Wayne County Treasurer under the Michigan General Property Tax Act</p>
            </div>
            <div class="col-sm-4 features-box wow fadeInDown">
                <div class="features-box-icon">
                    <span aria-hidden="true" class="typcn typcn-thumbs-ok"></span>
                </div>
                <h3>Why Register</h3>
                <p>
                    To view an individual property click on ‘Search’ at the top of the page. In order to download a full/partial property list, you must first register.
                </p>
            </div>
            <div class="col-sm-4 features-box features-box-gray wow fadeInUp">
                <div class="features-box-icon">
                    <span aria-hidden="true" class="typcn typcn-cog-outline"></span>
                </div>
                <h3>How to Bid</h3>
                <p>To bid on one property, a deposit of $1,000.00 with a registration fee of $35.00 is required. To bid on more than one property a deposit of $10,000.00 with a registration fee of $35.00 is required. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 features-box wow fadeInUp">
                <div class="features-box-icon">
                    <span aria-hidden="true" class="typcn typcn-device-phone"></span>
                </div>
                <h3>Wayne County Contact Info</h3>
                <p>
                    If you have any questions about the bidding rules Wayne County via email: support@waynecountytreasurermi.com
                    You may also call our Customer Service number at (313) 224-2864.
                </p>
            </div>
            <div class="col-sm-4 features-box features-box-gray wow fadeInDown">
                <div class="features-box-icon">
                    <span aria-hidden="true" class="typcn typcn-watch"></span>
                </div>
                <h3>When</h3>
                <p>Batches start closing from October 23, 2018 through October 24, 2018 (9.00 a.m. E.T. to 4.00 p.m. E.T. – One batch will close every 15 minutes). </p>
            </div>
            <div class="col-sm-4 features-box wow fadeInUp">
                <div class="features-box-icon">
                    <span aria-hidden="true" class="typcn typcn-clipboard"></span>
                </div>
                <h3>You Should know</h3>
                <p>State law mandates that a deed will not be issued unless the buyer signs an affidavit that he/she does not have outstanding property taxes, and does not have unpaid civil fines for a violation of a local ordinance, including blight violations.</p>
            </div>
        </div>
        <div class="row">
            <div class="form-inline wow fadeInUp">
                <button class="btn btn-primary" href="https://www.waynecountytreasurermi.com/Home.aspx">Register With Wayne County</button>
            </div>
        </div>
    </div>
</div>


<!-- About us -->
<div class="about-us-container section-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 about-us section-description wow fadeIn">
                <h2>Sponsored By</h2>
                <div class="divider-1 wow fadeInUp"><span></span></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 about-us-box wow fadeInUp">
                <div class="about-us-photo">
                    <img src="~/assets/img/about/1.jpg" alt="" data-at2x="~/assets/img/about/1.jpg">
                    <div class="about-us-role">Sherman Williams</div>
                </div>
                <h3>Detroit City Paint</h3>
                <p>Offering a full range of paint and paint supplies.</p>
                <div class="about-us-social">
                    <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                    <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                    <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                </div>
            </div>
            <div class="col-sm-4 about-us-box wow fadeInDown">
                <div class="about-us-photo">
                    <img src="~/assets/img/about/2.jpg" alt="" data-at2x="~/assets/img/about/2.jpg">
                    <div class="about-us-role">Realtor</div>
                </div>
                <h3>Client Access Realty</h3>
                <p>Specializing in the Detroit Real Estate</p>
                <div class="about-us-social">
                    <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                    <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                    <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                </div>
            </div>
            <div class="col-sm-4 about-us-box wow fadeInUp">
                <div class="about-us-photo">
                    <img src="~/assets/img/about/3.jpg" alt="" data-at2x="~/assets/img/about/3.jpg">
                    <div class="about-us-role">Clean Outs</div>
                </div>
                <h3>Hill Cleaning Services</h3>
                <p>Bulk Removal interior and exterior</p>
                <div class="about-us-social">
                    <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                    <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                    <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
@*<footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 footer-social">
                    <a href="#"><span class="typcn typcn-social-facebook"></span></a>
                    <a href="#"><span class="typcn typcn-social-dribbble"></span></a>
                    <a href="#"><span class="typcn typcn-social-twitter"></span></a>
                    <a href="#"><span class="typcn typcn-social-google-plus"></span></a>
                    <a href="#"><span class="typcn typcn-social-instagram"></span></a>
                    <a href="#"><span class="typcn typcn-social-pinterest"></span></a>
                </div>
            </div>
        </div>
    </footer>*@
